.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
  overflow: hidden;
}
a{
	background-color:red;
	padding:5px;
	border-radius:2px;
}
h1{
	align-items:center;
}
img{
	object-fit:cover;
}